$header-height: 53px;
$left-side-width: 255px;
$left-side-width-hidden: 68px;
$left-side-hide-breakpoint: 1280px;
$right-side-width: 350px;
$right-side-hide-breakpoint: 1005px;
$center-width: min(600px, 100vw - #{$left-side-width-hidden});
