<div fxLayout="column nowrap">
  <div class="header-container" fxLayoutAlign="center stretch">
    <app-header></app-header>
  </div>
  <div
    class="body-container"
    fxLayout="row wrap"
    fxLayoutAlign="center stretch"
  >
    <app-menu fxFlex="255px" fxLayoutAlign="center stretch"></app-menu>
    <div class="main-content" fxLayout="row wrap">
      <div class="middle-section" fxFlex="600px" fxLayoutAlign="center stretch">
        <app-tweet-list fxFlex></app-tweet-list>
      </div>
      <div class="right-section" fxFlex="350px" fxLayoutAlign="center stretch">
        right
      </div>
    </div>
  </div>
</div>
