@use 'variables' as variables;

.header-container {
  height: variables.$header-height;
}

.left-side-container {
  width: variables.$left-side-width;

  @media screen and (max-width: variables.$left-side-hide-breakpoint) {
    width: variables.$left-side-width-hidden;
  }
}

.right-side-container {
  width: variables.$right-side-width;

  @media screen and (max-width: variables.$right-side-hide-breakpoint) {
    display: none;
  }
}

.center-width {
  width: variables.$center-width;
}
