<div fxLayout="column nowrap" *ngIf="userLoggedIn; else notLoggedInTemplate">
  <div class="header-container" fxLayoutAlign="center stretch">
    <app-header></app-header>
  </div>
  <div
    class="body-container"
    fxLayout="row wrap"
    fxLayoutAlign="center stretch"
  >
    <div fxLayoutAlign="center stretch" class="left-side-container">
      <app-menu style="width: 100%;"></app-menu>
    </div>
    <div fxLayoutAlign="center stretch" class="center-width">
      <div fxFlex="100%">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="right-side-container" fxLayoutAlign="center stretch">
      right
    </div>
  </div>
</div>
<!-- Hide all ui elements if the user is not logged in -->
<ng-template #notLoggedInTemplate>
  <router-outlet></router-outlet>
</ng-template>
