<div fxLayout="column nowrap">
  <div fxLayoutAlign="start center" class="big-text">
    <mat-icon>search</mat-icon>
    <span fxFlexOffset="5">
      Follow your interests.
    </span>
  </div>
  <div fxLayoutAlign="start center" fxFlexOffset="10" class="big-text">
    <mat-icon>supervisor_account</mat-icon>
    <span fxFlexOffset="5">
      Hear what people are talking about.
    </span>
  </div>
  <div fxLayoutAlign="start center" fxFlexOffset="10" class="big-text">
    <mat-icon>message</mat-icon>
    <span fxFlexOffset="5">
      Join the conversation.
    </span>
  </div>
</div>
