<div fxLayout="row wrap" fxLayoutAlign="center center" stop-propagation>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-comment [tweet]="tweet">
    </app-tweet-object-actions-comment>
  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-retweet [tweet]="tweet">
    </app-tweet-object-actions-retweet>
  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-like [tweet]="tweet">
    </app-tweet-object-actions-like>
  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-share [tweet]="tweet">
    </app-tweet-object-actions-share>
  </div>
</div>
