<div
  fxLayoutAlign="start stretch"
  fxLayout="column nowrap"
  class="more-wrapper"
>
  <button [matMenuTriggerFor]="aboveMenu" style="opacity: 0"></button>
  <mat-menu
    #aboveMenu="matMenu"
    yPosition="above"
    class="user-info-wrapper default-text-formatting"
  >
    <div mat-menu-item>
      <div
        fxLayoutAlign="start stretch"
        fxLayout="row nowrap"
        class="user-info-wrapper"
        (click)="navigateToProfile()"
      >
        <app-user-picture [user]="user"></app-user-picture>
        <div fxFlexOffset="1" class="username-container">
          <app-user-info [user]="user"></app-user-info>
        </div>
      </div>
    </div>
    <button mat-menu-item (click)="performLogout()">Log out</button>
  </mat-menu>
</div>
