@use 'src/app/modules/tweet-object/variables' as variables;

.truncate-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: variables.$text-font-size;
}

.tweet-header {
  // mat-card-header adds a 16px margin
  margin-left: -16px;
}
