<mat-card *ngIf="tweet$ | async as tweet">
  <div fxLayout="row" fxLayoutAlign="start stretch">
    <div *ngIf="tweetAuthorInfo$ | async as user" style="max-width: 80%;">
      <!-- Image, Display name, Username -->
      <app-tweet-object-header [user]="user"></app-tweet-object-header>
    </div>
  </div>
  <!-- "Replying to" -->
  <mat-card-subtitle *ngIf="tweet.comment">
    <ng-container
      *ngIf="commentAuthorUsername$ | async as commentAuthorUsername"
    >
      Replying to
      <app-clickable-username
        [username]="commentAuthorUsername"
      ></app-clickable-username>
    </ng-container>
  </mat-card-subtitle>

  <!-- Text -->
  <mat-card-content class="tweet-text">
    {{ tweet.text }}
  </mat-card-content>
  <!-- Nested tweet (retweet) -->
  <mat-card-content *ngIf="tweet.retweet && !nested">
    <ng-container *ngIf="nestedTweet$ | async as nestedTweet">
      <app-tweet-object
        [tweet]="nestedTweet"
        [nested]="true"
      ></app-tweet-object>
    </ng-container>
  </mat-card-content>
  <!-- Action buttons -->
  <mat-card-actions *ngIf="!nested">
    <app-tweet-object-actions [tweet]="tweet"></app-tweet-object-actions>
  </mat-card-actions>
</mat-card>
