<div fxLayout="row nowrap" fxLayoutAlign="space-around center" class="footer">
  <div fxFlexOffset="10">About</div>
  <div [routerLink]="" class='footer-link'>Help Center</div>
  <div [routerLink]="" class='footer-link'>Terms</div>
  <div [routerLink]="" class='footer-link'>Privacy policy</div>
  <div [routerLink]="" class='footer-link'>Cookies</div>
  <div [routerLink]="" class='footer-link'>Ads info</div>
  <div [routerLink]="" class='footer-link'>Blog</div>
  <div [routerLink]="" class='footer-link'>Status</div>
  <div [routerLink]="" class='footer-link'>Jobs</div>
  <div [routerLink]="" class='footer-link'>Brand</div>
  <div [routerLink]="" class='footer-link'>Advertise</div>
  <div [routerLink]="" class='footer-link'>Marketing</div>
  <div [routerLink]="" class='footer-link'>Businesses</div>
  <div [routerLink]="" class='footer-link'>Developers</div>
  <div [routerLink]="" class='footer-link'>Directory</div>
  <div [routerLink]="" class='footer-link'>Settings</div>
  <div fxFlexOffset="10"></div>
</div>
