@use 'src/twitter-theme.scss';

.button-container {
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}

.button-container mat-icon {
  font-size: 1.5em;
}

.selected {
  @include twitter-theme.primary-text-color-mixin;
}
