@use 'src/app/core/layout/variables' as variables;
@use 'src/assets/styles/partials/scaffolding' as scaffolding;
.button-container {
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}

.button-container mat-icon {
  font-size: 1.5em;
}

.selected {
  @include scaffolding.primary-text-color-mixin;
}

.hide-on-small {
  @media screen and (max-width: variables.$left-side-hide-breakpoint) {
    display: none !important;
  }
}
