@use 'src/app/core/layout/variables' as variables;

.logo-container {
  height: variables.$header-height;
}

.logo-container img {
  height: variables.$header-height / 2;
  margin-top: variables.$header-height / 4;
}
