<mat-card>
  <!-- User info -->
  <div *ngIf="tweetAuthorInfo$ | async as user">
    <mat-card-header>
      <mat-card-title>{{ user.display_name }}</mat-card-title>
      <mat-card-subtitle>@{{ tweet.author }}</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="{{ user.image_url }}" />
  </div>

  <!-- Text -->
  <mat-card-content>
    {{ tweet.text }}
  </mat-card-content>
  <!-- Action buttons -->
  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-button>Like</button>{{ tweet.likes }}
    </div>
    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-button>Comment</button> {{ tweet.comments }}
    </div>
    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-button>Retweet</button> {{ tweet.retweets }}
    </div>
    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-button>Share</button>
    </div>
  </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
