<div *ngIf="profile$ | async as user" fxLayout="column nowrap">
  <app-profile-page-header-banner></app-profile-page-header-banner>
  <mat-card fxLayout="column nowrap">
    <app-profile-page-header [user]="user"></app-profile-page-header>
    <app-tweet-object-header [user]="user"></app-tweet-object-header>
    <app-profile-page-bio [user]="user"></app-profile-page-bio>
    <app-profile-page-info [user]="user"></app-profile-page-info>
    <app-profile-page-followers></app-profile-page-followers>
  </mat-card>
</div>
