<div *ngIf="profile$ | async as user">
  <div fxLayout="column nowrap">
    <app-profile-page-header-banner></app-profile-page-header-banner>
    <mat-card fxLayout="column nowrap">
      <app-profile-page-header [user]="user"></app-profile-page-header>
      <app-user-info [user]="user"></app-user-info>
      <app-profile-page-bio [user]="user"></app-profile-page-bio>
      <app-profile-page-info [user]="user"></app-profile-page-info>
      <app-profile-page-followers [user]="user"></app-profile-page-followers>
    </mat-card>
  </div>

  <app-tweet-list
    [overrideServiceMethod]="method"
    [overrideServiceMethodArgs]="methodArgs"
  ></app-tweet-list>
</div>
