@use 'src/assets/styles/partials/variables' as variables;

.username-container {
  overflow: hidden;
  max-width: 100%;
}

.highlight-on-hover:hover {
  background-color: rgba(
    red(variables.$color-700),
    green(variables.$color-700),
    blue(variables.$color-700),
    0.15
  );
  cursor: pointer;
  .icon-container {
    // angular-material applies a weird lightgreen color here by default
    color: black !important;
  }
}

.highlight-on-hover {
  border-radius: 15%;
  padding: 5px;
}

.icon-container {
  font-size: 25px;
}
