@use 'src/assets/styles/partials/variables' as global-variables;
@use 'src/app/core/layout/variables.scss' as variables;

.username-container {
  overflow: hidden;
  max-width: 100%;
}

.highlight-on-hover:hover {
  background-color: rgba(
    red(global-variables.$color-700),
    green(global-variables.$color-700),
    blue(global-variables.$color-700),
    0.15
  );
  cursor: pointer;
  .icon-container {
    // angular-material applies a weird lightgreen color here by default
    color: black !important;
  }
}

.highlight-on-hover {
  border-radius: 15%;
  padding: 5px;
}

.icon-container {
  font-size: 25px;
}

.hide-on-small {
  @media screen and (max-width: variables.$left-side-hide-breakpoint) {
    display: none;
  }
}

.stretch-on-small {
  @media screen and (max-width: variables.$left-side-hide-breakpoint) {
    max-width: 100%;
    width: 100%;
  }
}
