<div fxLayout="row nowrap">
  <div style="width: 50px; margin-right: 10px">
    <app-user-picture [user]="user"></app-user-picture>
  </div>
  <div class="main-body" fxLayout="column nowrap" style="width: 100%">
    <div class="input-container">
      <app-tweet-creation-textarea></app-tweet-creation-textarea>
    </div>
    <div
      class="image-container"
      fxFlexOffset="2"
      (click)="removeImage()"
      stop-propagation
    >
      <app-tweet-creation-image-preview></app-tweet-creation-image-preview>
    </div>
    <!-- A retweet preview can be added here using content projection -->

    <div fxFlexOffset="5">
      <ng-content></ng-content>
    </div>

    <app-tweet-creation-actions fxFlexOffset="5"></app-tweet-creation-actions>
  </div>
</div>
