@import "assets/styles/partials/scaffolding";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Comic sans", Roboto, "Helvetica Neue", sans-serif;
}

.default-text-formatting {
  font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #14171a;
}

.hover-bg-color:hover {
  background-color: #00000005;
  cursor: pointer;
}

.primary-text-color {
  @include primary-text-color-mixin;
}

.primary-bg-color {
  @include primary-bg-color-mixin;
}
