@use 'src/app/core/layout/variables.scss' as variables;

.menu-wrapper button {
  width: 100%;
}

.full-screen {
  position: fixed;
  height: calc(100vh - #{variables.$header-height});
  width: variables.$left-side-width;
  overflow: hidden;
}
