<div
  fxLayoutAlign="space-between center"
  fxLayout="row nowrap"
  class="highlight-on-hover"
>
  <div fxLayoutAlign="start center" fxLayout="row nowrap" fxFlex="65%">
    <app-user-picture [user]="user"></app-user-picture>
    <div fxFlexOffset="1em" class="username-container">
      <app-user-info [user]="user"></app-user-info>
    </div>
  </div>
  <div fxFlex="35%" class="icon-container" fxLayoutAlign="center end">
    <button mat-stroked-button color="primary">Follow</button>
  </div>
</div>
