<div
  fxLayoutAlign="space-between center"
  fxLayout="row nowrap"
  class="highlight-on-hover"
>
  <div fxLayoutAlign="start center" fxLayout="row nowrap" fxFlex="65%">
    <app-tweet-object-author-picture
      [user]="user"
    ></app-tweet-object-author-picture>
    <div fxFlexOffset="1em" class="username-container">
      <app-tweet-object-header [user]="user"></app-tweet-object-header>
    </div>
  </div>
  <div fxFlex="35%" class="icon-container" fxLayoutAlign="center end">
    <button mat-stroked-button color="primary">Follow</button>
  </div>
</div>
