<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-comment-button [tweet]="tweet">
    </app-tweet-object-actions-comment-button>
  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-retweet-button [tweet]="tweet">
    </app-tweet-object-actions-retweet-button>
  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-like-button [tweet]="tweet">
    </app-tweet-object-actions-like-button>
  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <app-tweet-object-actions-share [tweet]="tweet">
    </app-tweet-object-actions-share>
  </div>
</div>
